.box_linear, 
.box_ease_out, 
.box_ease_in,
.box_ease_in_out {
    width: 300px;
    height: 300px;
    text-align: center;
    line-height: 300px;
    color: white;
    font-weight: bold;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 500ms;
}

.box_linear:hover,
.box_ease_in:hover,
.box_ease_out:hover,
.box_ease_in_out:hover {
    width: 500px;
}


/* BOX LINEAR */
.box_linear {
    background-color: #02C5BE;
    transition-timing-function: linear;
}

/* BOX EASE IN */
.box_ease_in {
    background-color: #20D1CC;
    transition-timing-function: ease-in;
}

/* BOX EASE OUT */
.box_ease_out {
    background-color: #87D1D7;
    transition-timing-function: ease-out;
}

/* BOX EASE IN OUT */
.box_ease_in_out {
    background-color: #75ACA8;
    animation-timing-function: ease-in-out;
}